.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

body {
  background: linear-gradient(135deg, #1DB954, #121212);
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin: 0; /* Ensure no extra margin on body */
}

.music-player {
  height: auto; /* Allow height to adjust based on content */
  max-width: 500px;
  width: 90%;
  padding: 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 20px auto;
}

.music-player .marquee {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.music-player .marquee h3,
.music-player .marquee p {
  display: inline-block;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.5s ease;
}

.music-player .marquee.scrolling h3,
.music-player .marquee.scrolling p {
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.music-player img {
  width: 12rem; /* Adjusted width for responsiveness */
  height: 12rem; /* Adjusted height for responsiveness */
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.rotating {
  animation: rotate 10s linear infinite, flick 0.5s ease-in infinite alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flick {
  from {
    box-shadow: 0 0 18px rgb(255, 255, 255);
  }
  to {
    box-shadow: 0 0 10px rgb(255, 255, 255);
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.controls svg {
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .music-player {
    width: 85%; /* Adjust width for smaller screens */
    padding: 0.5rem; /* Reduce padding */
  }

  .music-player img {
    width: 10rem; /* Smaller album cover */
    height: 10rem; /* Smaller album cover */
  }

  .controls svg {
    margin: 0 5px; /* Reduce spacing between control icons */
  }
}

/* Media Query for Very Small Screens */
@media (max-width: 480px) {
  .music-player {
    width: 95%; /* Use full width */
    padding: 0.5rem; /* Less padding on very small screens */
  }

  .music-player img {
    width: 8rem; /* Further reduce album cover size */
    height: 8rem; /* Further reduce album cover size */
  }

  .controls {
    flex-direction: row; 
  }

  .controls svg {
    margin: 0 5px; /* Adjust spacing for vertical alignment */
  }
}

/* Search Input and Button Styles */
.search-input {
  width: calc(100% - 120px); /* Adjust width for responsiveness */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 35px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #00000092;
}

/* Song List Styles */
.song-list {
  margin: 20px auto;
  max-width: 500px;
  width: 90%;
}

.song-list ul {
  list-style-type: none;
  padding: 0;
}

.song-list li {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.song-list li:hover {
  background: rgba(255, 255, 255, 0.3);
}

.song-list img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.song-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.song-title,
.artist-name {
  margin: 0;
  color: #ddd;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis */
  white-space: nowrap; /* Prevent wrapping */
}

.song-title strong {
  color: #fff;
}

.artist-name {
  color: #ccc; /* Slightly different color for artist */
}
